body {
    background-image: url(../images/gameBackground.jpg);
    background-color: black;
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Chakra Petch', sans-serif;
}

h1, h3 {
    color: ghostwhite;
}
/* img {
    height: 100px;
    width: 150px;
} */

.HP {
    color: darkred;
    text-align: center;
}

h5 {
    color: black;
    text-align: center;
}

.card {
    padding: 5px;
    border: grey 3px solid;
    background-color: ghostwhite;
}